
@{
    ViewData["Title"] = "ListagemDeClientes";
}

<h1>ListagemDeClientes</h1>

<h2>Sou a listagem de Clientes</h2>



@(2 + 2)


@for(int i=0;i<1000;i++){
    <h1>ListagemDeClientes</h1> <br/>
}    

@{
    var j = 10;
    j++;
    if(j == 11)
    {
        <h1>Valor de J @j</h1> <br/>
    }
}