USE [master]
GO
/****** Object:  Database [NovaEscolaDB]    Script Date: 11/07/2022 19:36:28 ******/
CREATE DATABASE [NovaEscolaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NovaEscolaDB', FILENAME = N'C:\Users\jonat\NovaEscolaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NovaEscolaDB_log', FILENAME = N'C:\Users\jonat\NovaEscolaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NovaEscolaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NovaEscolaDB]
GO
USE [NovaEscolaDB]
GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 11/07/2022 19:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aluno](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[DataNascimento] [datetime] NOT NULL,
	[Matriculado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Morada]    Script Date: 11/07/2022 19:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Morada](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Identificacao] [varchar](50) NOT NULL,
	[Dados] [varchar](150) NULL,
	[AlunoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aluno] ON 

INSERT [dbo].[Aluno] ([Id], [Nome], [DataNascimento], [Matriculado]) VALUES (1, N'Joaozinho', CAST(N'2018-02-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Aluno] ([Id], [Nome], [DataNascimento], [Matriculado]) VALUES (2, N'Mariazinha', CAST(N'2018-03-03T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Aluno] OFF
GO
SET IDENTITY_INSERT [dbo].[Morada] ON 

INSERT [dbo].[Morada] ([Id], [Identificacao], [Dados], [AlunoId]) VALUES (3, N'Casa da Familia Silva', N'Rua das Casas, 10', 1)
INSERT [dbo].[Morada] ([Id], [Identificacao], [Dados], [AlunoId]) VALUES (4, N'Casa da Familia Silva', N'Rua das Casas, 10', 2)
SET IDENTITY_INSERT [dbo].[Morada] OFF
GO
ALTER TABLE [dbo].[Aluno] ADD  DEFAULT ((1)) FOR [Matriculado]
GO
ALTER TABLE [dbo].[Morada]  WITH CHECK ADD FOREIGN KEY([AlunoId])
REFERENCES [dbo].[Aluno] ([Id])
GO
USE [master]
GO
