
@{
    ViewData["Title"] = "ListagemDeProdutos";
}

<h1>ListagemDeProdutos</h1>


<table>
    <tr>
        <th>Informacao 1</th>
        <th>Informacao 2</th>
    </tr>
    <tr>
        <td>Informacao 1</td>
        <td>Informacao 2</td>
    </tr>
</table>